.mainImage {border-radius:200px; border:4px #D2D2D2 solid; width:250px; height:250px; overflow:hidden; text-align:center; margin:auto;}

body {background:#383838; color:#D2D2D2}

h1 {text-align:center; margin:auto;}

p{text-align:left; margin-top:50px;margin-right: 50%;}

.socialLinks {
    color: #ccc;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.08em;
	margin-top: 40px;
    }

a {color:#D2D2D2}    